.nav_menu {
    overflow:hidden;
    background-color: #333;
    
  }
  .nav_menu  a{
    float: left;
    display: block;
    color:white;
    text-align:center;
    padding: 14px 16px;
      text-decoration:none;
  }
  .nav_menu a:hover{
    background-color: white;
    color:green;
  }
  h2{
    background-color: white;
  font-size: 40;
  text-align: center;
  }
  p{
    font-size: 20;
    font-family: monospace;
    text-align: center;
  }
 